*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    text-align: center;
    background-color: #1c1c1c;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.logo img{
    width: 80px;
    margin-bottom: 15px;
}

h1{
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    color: #ccc;
}

input{
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

button{
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #555;

}
